.show {
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.main{
    background-image: url(https://img.freepik.com/free-vector/bokeh-defocused-background_23-2148497833.jpg);
    background-size: cover;
}